encryption: gpg
gpg:
  recipient: "74F3F6BE2D0EC4E8D00AFD490E44F71854180758"

diff:
  pager: delta --side-by-side

git:
  autoCommit: true

merge:
  command: nvim
  args:
  - "-d"
  - "{{ "{{" }} .Destination {{ "}}" }}"
  - "{{ "{{" }} .Source {{ "}}" }}"
  - "{{ "{{" }} .Target {{ "}}" }}"
