################################################
# Data
################################################

{{- includeTemplate "cpu" . }}
{{- includeTemplate "machine-type" . }}

{{- includeTemplate "github-codespaces" . }}


################################################
# Version Management
################################################

[git]
  autoAdd = true
  autoCommit = false


################################################
# Encryption
################################################

encryption = "gpg"
[gpg]
  args = [
    # Mute some info messages to stderr instead of stdout
    "--quiet",
  ]
  recipient = "74F3F6BE2D0EC4E8D00AFD490E44F71854180758"
  # Suffix appended to GPG-encrypted files
  suffix = ".asc"


################################################
# Operation
################################################

# Format for data output, either `json` or `yaml`
format = "json"
# Mode in target dir, either `file` or `symlink`
mode = "file"

[diff]
  pager = "delta --side-by-side"

[merge]
  command = "nvim"
  args = [
    "-d",
    "{{ "{{" }} .Destination {{ "}}" }}",
    "{{ "{{" }} .Source {{ "}}" }}",
    "{{ "{{" }} .Target {{ "}}" }}",
  ]

[update]
  # Update submodules recursively
  recurseSubmodules = true
