diff:
  pager: delta --side-by-side

git:
  autoCommit: true

merge:
  command: nvim
  args:
  - "-d"
  - "{{ "{{" }} .Destination {{ "}}" }}"
  - "{{ "{{" }} .Source {{ "}}" }}"
  - "{{ "{{" }} .Target {{ "}}" }}"
