################################################
# Data
################################################

{{- includeTemplate "cpu" . }}
{{- includeTemplate "machine-type" . }}


################################################
# Version Management
################################################

[git]
  autoAdd = true
  autoCommit = false


################################################
# Encryption
################################################

encryption = "gpg"
[gpg]
  recipient = "74F3F6BE2D0EC4E8D00AFD490E44F71854180758"
  args = [
    # Mute some info messages to stderr instead of stdout
    "--quiet",
  ]


################################################
# Operation
################################################

[diff]
  pager = "delta --side-by-side"

[merge]
  command = "nvim"
  args = [
    "-d",
    "{{ "{{" }} .Destination {{ "}}" }}",
    "{{ "{{" }} .Source {{ "}}" }}",
    "{{ "{{" }} .Target {{ "}}" }}",
  ]
