[submodule "zsh/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "zsh/.oh-my-zsh-custom/plugins/zsh-syntax-highlighting"]
	path = zsh/.oh-my-zsh-custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "zsh/.oh-my-zsh-custom/plugins/autosuggestions"]
	path = zsh/.oh-my-zsh-custom/plugins/autosuggestions
	url = https://github.com/tarruda/zsh-autosuggestions
[submodule "zsh/.oh-my-zsh-custom/plugins/alias-tips"]
	path = zsh/.oh-my-zsh-custom/plugins/alias-tips
	url = https://github.com/djui/alias-tips
[submodule "weechat/.weechat-plugins/wee-slack"]
	path = weechat/.weechat-plugins/wee-slack
	url = https://github.com/rawdigits/wee-slack.git
[submodule "tools/dotbot"]
	path = tools/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "tools/ruby-build"]
	path = tools/ruby-build
	url = https://github.com/rbenv/ruby-build
[submodule "tools/gef"]
	path = tools/gef
	url = https://github.com/hugsy/gef
[submodule "tools/peda"]
	path = tools/peda
	url = https://github.com/longld/peda.git
[submodule "tools/cask"]
	path = tools/cask
	url = https://github.com/cask/cask.git
[submodule "tools/rbenv"]
	path = tools/rbenv
	url = https://github.com/rbenv/rbenv.git
[submodule "tools/sqlmap"]
	path = tools/sqlmap
	url = https://github.com/sqlmapproject/sqlmap.git
[submodule "zsh/.oh-my-zsh-custom/plugins/resty"]
	path = zsh/.oh-my-zsh-custom/plugins/resty
	url = https://github.com/micha/resty
[submodule "tools/nvm"]
	path = tools/nvm
	url = https://github.com/creationix/nvm.git
[submodule "emacs/.emacs.d"]
	path = emacs/.emacs.d
	url = https://github.com/syl20bnr/spacemacs
[submodule "X/.Xresources.d/xcolors"]
	path = X/.Xresources.d/xcolors
	url = https://github.com/tlatsas/xcolors.git
[submodule "tools/fonts/powerline-fonts"]
	path = tools/fonts/powerline-fonts
	url = https://github.com/powerline/fonts.git
[submodule "tools/dwm"]
	path = tools/dwm
	url = http://git.suckless.org/dwm
