[submodule "vim/.vim/bundle/Vundle.vim"]
	path = vim/.vim/bundle/Vundle.vim
	url = http://github.com/gmarik/vundle.git
[submodule "zsh/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "emacs/.cask"]
	path = emacs/.cask
	url = https://github.com/cask/cask.git
[submodule "ruby/.rbenv"]
	path = ruby/.rbenv
	url = https://github.com/sstephenson/rbenv.git
[submodule "vim/.vim/plugged/vim-plug"]
	path = vim/.vim/plugged/vim-plug
	url = https://github.com/junegunn/vim-plug
