# .gitignore for dotfiles
#
# Maintained by Claud D. Park <posquit0.bj@gmail.com>
# http://www.posquit0.com/

# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
