#!/bin/bash

set -eufo pipefail


{{- $rubyVersion := "4.0.5" }}
if which mise > /dev/null; then
  echo "[!] The version manager for Ruby 'mise' - Found!"
  mise use --global ruby@{{ $rubyVersion }}
  echo "[+] Successfully installed 'ruby' {{ $rubyVersion }}."
  echo "{{ output "mise" "ls" "ruby" "-g" | trim }}."
else
  echo "[!] The version manager for Ruby 'mise' - Not Found!"
fi
