#!/bin/bash

set -eufo pipefail


if which mise > /dev/null; then
  echo "[!] The version manager for Node.js 'mise' - Found!"
  mise use --global node@26
  echo "[+] Successfully installed 'node'."
  echo "{{ output "mise" "ls" "node" "-g" | trim }}."
else
  echo "[!] The version manager for Node.js 'mise' - Not Found!"
fi
