#!/bin/bash

set -eufo pipefail


{{- $terraformVersion := "1.15.5" }}
if which mise > /dev/null; then
  echo "[!] The version manager for Terraform 'mise' - Found!"
  mise use --global terraform@{{ $terraformVersion }}
  echo "[+] Successfully installed 'terraform' {{ $terrVersion }}."
  echo "{{ output "mise" "ls" "terraform" "-g" | trim }}."
else
  echo "[!] The version manager for Terraform 'mise' - Not Found!"
fi
