#!/bin/bash

set -eufo pipefail


if which volta > /dev/null; then
  echo "[!] The version manager for Node.js 'volta' - Found!"
  volta install node 
  echo "[+] Successfully installed 'node'."
  echo "{{ output "volta" "list" "-d" | trim }}."
else
  echo "[!] The version manager for Node.js 'volta' - Not Found!"
fi
