#!/bin/bash

set -eufo pipefail


if which n > /dev/null; then
  echo "[!] The version manager for Node.js 'n' - Found!"
  n lts
  echo "[+] Successfully installed 'node' {{ output "n" "--lts" | trim }}."
else
  echo "[!] The version manager for Node.js 'n' - Not Found!"
fi
