# .npmrc
#
# Maintained by Claud D. Park <posquit0.bj@gmail.com>
# http://www.posquit0.com/


init.author.name=Claud D. Park
init.author.email=posquit0.bj@gmail.com
init.author.url=http://www.posquit0.com
init.license=MIT
init.version=0.0.1
