; .npmrc
;
; Maintained by Claud D. Park <posquit0.bj@gmail.com>
; http://www.posquit0.com/


init.author.name=Posquit0.BJ
init.author.email=posquit0.bj@gmail.com
init.author.url=http://www.posquit0.com
