/*
 * .Xresources
 * vim:ft=xdefaults:
 *
 * Maintained by Claud D. Park <posquit0.bj@gmail.com>
 * http://www.posquit0.com/
 */


!!! General {{{
  /* XCursor */
  #include ".Xresources.d/xcursor"
  /* Color themes for X */
  #include ".Xresources.d/xcolors/themes/gjm"
! #include ".Xresources.d/xcolors/themes/digerati"
! #include ".Xresources.d/xcolors/themes/euphrasia"
! #include ".Xresources.d/xcolors/themes/gnometerm"
!!! }}}


!!! Font {{{
  Xft.dpi: 96
  Xft.antialias: True
  Xft.hinting: True
  Xft.hintstyle: hintslight
!Xft.rgba: rgb
!!! }}}


!!! Terminals {{{
  #include ".Xresources.d/urxvt"
  #include ".Xresources.d/xterm"
!!! }}}


!!! X11 Applications {{{
  /* XAutoLock for Lock Screen */
  #include ".Xresources.d/xautolock"

!!! }}}